.logo
  a.logolink(href='https://livemache.ecologylab.net' target='_blank')
    img(src=resourceBasePath + 'media/mustard_mache_logo2.svg' style="height: 51px; width: 58px;")
  a.logolink(href=resourceBasePath)    
    img(src=resourceBasePath + 'media/dashboard.svg' style="height: 63px; width: 90px;")
