extends layout

block content
  form.form-signin
    img.mb-4(src='/media/ohyes.svg', alt='', width='144', height='144')
    h1.h3.mb-3.font-weight-normal It looks like you did not have an auth token attached to this request
