html,
body {
}

.wrapper {
  margin-top: 5%;
}

.group_heading_wrapper {
    border-style: solid;
    border-color: red;
}


.group_heading {
  text-align: center;
}

.createButtons {
    width: 800px;
}

.groupFields {
  max-width: 50%;
  overflow-x: scroll;
}

.link {
  color: #0088CC;
}

.table_main {
  margin: 20px;
}

thead.thead_main {
  background-color: #A4C32F;
}

thead.thead_alt {
  background-color: #F14E00;
}

thead.thead_alt2 {
  background-color: rgb(51, 164, 211, 0.8); /*#33A4D3;*/
}

th, td {
  padding: 10px;
  text-align: center;
}

th.center {
  text-align: center;
}

.low {
  color: #FF0000;
}

.medium {
  color: #FFDE16;
  opacity: 0.3;
}

.high {
  color: #6ACA6B;
  opacity: 0.3;
}

.button_main {
  background-color: #33A4D3;
}

.button_secondary {
  background-color: #689ACA;
}
